@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
  min-height: 100vh;

  &::-webkit-scrollbar {
      display: none;
    }
}

p {
  line-height: normal !important;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

.scroll {
  &::-webkit-scrollbar-thumb {
      background-color: #05304f ;
      border-radius: 4px;
      margin-right: 20px;
    }

  &::-webkit-scrollbar {
    width: 6px;
    margin-right: 20px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
}

.custom-input {
  height: 36px !important;
  border-radius: 0.5rem !important;
  border-color: #37729C !important;
  font-family: 'Poppins' !important;
  color: white;
  text-align: start !important;

  &::placeholder {
    color: white;
    font-family: 'Poppins';
  }
}

.custom-input:hover {
  border-color: #fbb13c !important;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.custom-header {
  padding: 16px 16px !important;
  background-color: #bb7f32 !important;
}

.calender-modal {
  bottom: -150px !important;
  right: -180px !important;

}

.no-selected-child-text-block {
  height: calc(100vh - 301px) !important;
}

.parent-dashboard {
    min-height: calc(100vh - 325px) !important;
}

.child-dashboard {
    min-height: calc(100vh - 273px) !important;
}

.task-info-page {
  min-height: calc(100vh - 204px) !important;
}

.spent-time-select {
  max-height: 40px ! important;
  overflow-y: scroll ! important;
}